#filter_container {
    display: grid;
    grid-template-columns: 2;
    background-color: #eee;
    width: 50vw;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}

#filter_container > *:first-child {
    border-bottom: 1px solid #aaa;
}

#filter_container > *:last-child >div> input {
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#search_input {
    width: 300px;
    height: 35px;
    border-radius: 35px;
    border: 1px solid #aaa;
    box-shadow: none;
    text-align: center;
    font-size: 20px;
    outline: none;
}
#search_input:focus {
    box-shadow: 0px 0px 5px 5px #ccc;
}
#search_input:hover {
    box-shadow: 0px 0px 5px 5px #ccc;
}


#search_type {
    border: 1px solid #aaa;
    width: 60px;
    height: 25px;
    border-radius: 10px;
    outline: none;
}

#buttonShowFilter {
    border: none;
    background-color: transparent;
    outline: none;
}

#showMoreButton {
    width: 100px;
    height: 33px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}

#showMoreButton:hover {
    background-color: #eaeaea;
}

.moviediv {
    border: 1px solid #aaa;
    border-radius: 15px;
    max-width: 600px;
    margin: auto;
    background-color: #eee;
}

.moviediv > li:not(:last-child) {
    list-style-type: none;
    border-bottom: 1px solid #aaa;
}

.moviediv > li {
    font-size: 25px;
    padding: 10px;
    margin-left: -40px;
    list-style-type: none;
}

.moviediv > li:last-child {
    border-radius: 0 0 15px 15px;
}

.moviediv > li:first-child {
    border-radius: 15px 15px 0 0;
}

.moviediv >li:hover {
    box-shadow: 0px 0px 5px 5px #ccc;
}

#data_details {
    padding: 10px;
    margin: auto;
    border-radius: 25px;
    background-color: #eee;
    width: 50vw;
}

#data_details > h1 {
    font-weight: lighter;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

#data_details > h6 {
    font-weight: lighter;
}

#data_details > ul {
    font-size: 25px;
}

#data_details > ul > li {
    font-size: 20px;
    list-style-type: none;
}