button:hover {
    cursor: pointer;
}

#filter_container {
    display: grid;
    grid-template-columns: 2;
    background-color: #ddd;
    width: 50vw;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    box-shadow: inset 0 0 3px 1px #333;
    max-width: 300px;
}

#filter_container > *:first-child {
    border-bottom: 1px solid #aaa;
}

#filter_container > *:last-child >div> input {
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#search_input {
    margin: auto;
    width: 300px;
    height: 40px;
    border-radius: 35px;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 5px 3px #888;
    text-align: center;
    font-size: 20px;
    outline: none;
    background-color: #ddd;
}

#search_input::placeholder {
    color: #222;
}

#search_input:focus {
    box-shadow: 0px 0px 5px 5px #777;
}
#search_input:hover {
    box-shadow: 0px 0px 5px 5px #777;
}


#search_type {
    border: 1px solid #aaa;
    background-color: #ddd;
    width: 81px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    text-align: center;
    box-shadow: 0 0 1px 1px #888;
}

#buttonShowFilter {
    border: none;
    background-color: transparent;
    outline: none;
}

#showMoreButton {
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 0 0 30px 30px;
    outline: none;
    background-color: #ddd;
    box-shadow: 0px 3px 3px 0px #444;
    margin-top: 0px;
}

#showMoreButton > img {
    opacity: 0.75;
}


#showMoreButton:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.moviediv {
    border: 1px solid #aaa;
    border-radius: 15px;
    max-width: 500px;
    margin: auto;
    background-color: #ddd;
    box-shadow: inset 0 0 3px 1px #000;
}

.moviediv > li:not(:last-child) {
    border-bottom: 1px solid #aaa;
}

.moviediv > li {
    font-size: 20px;
    padding: 10px;
    margin-left: -40px;
    list-style-type: none;
}

.moviediv > li:last-child {
    border-radius: 0 0 15px 15px;
}

.moviediv > li:first-child {
    border-radius: 15px 15px 0 0;
}

.moviediv >li:hover {
    background-color: #eee;
    cursor: pointer;
}

#data_details {
    padding: 10px;
    margin: auto;
    border-radius: 25px;
    background-color: #eee;
    width: 50vw;
    box-shadow: inset 0 0 5px 1px #000;
    max-width: 500px;
}

#data_details > h1 {
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

#data_details > h6 {
    font-weight: lighter;
}

#data_details > ul {
    font-size: 25px;
    font-weight: lighter;
    margin-left: -50px;
}

#data_details > ul > li {
    font-size: 20px;
    list-style-type: none;
}

.reviews {
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border-top: 2px solid #ccc;
}

.reviews > div {
    height: auto;
    padding: 10px;
    min-width: 150px;
    max-width: 150px;
}

.reviews > div:not(:last-child) {
    border-right: 2px solid #ccc;
}

.reviews > div > p, h1 {
    white-space: initial;
}

#remove_button {
    border-radius: 5px;
    border: 1px solid #aaa;
}